node-red/flows.json
[{"id":"cad8f072.3f332","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"9148f6af.55f788","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"c13ac1ee.fc1dd","type":"tab","label":"Phone","disabled":false,"info":""},{"id":"9d14ff7.d50fa","type":"tab","label":"NFC","disabled":false,"info":""},{"id":"e614faca.3700f8","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"cd10b942.aa6d58","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"37c5ac0.abecf54","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26a1389a.64f188","type":"spotify-auth","z":"","name":"","scope":""},{"id":"111b9c46.5be254","type":"server-state-changed","z":"cad8f072.3f332","name":"Alarm","server":"cd10b942.aa6d58","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.alarm_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":310,"y":420,"wires":[["f3b9dd8c.09ef1"]]},{"id":"f3b9dd8c.09ef1","type":"api-current-state","z":"cad8f072.3f332","name":"Alarm set","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"Set","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.alarm_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":420,"wires":[["bd3b178e.7e6208","7ea4f539.e624bc","5a5c4cbf.64e5d4"],[]]},{"id":"5a5c4cbf.64e5d4","type":"api-current-state","z":"cad8f072.3f332","name":"Alarm music","server":"cd10b942.aa6d58","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.wakeup_music","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1350,"y":400,"wires":[["83498812.99d548"]]},{"id":"83498812.99d548","type":"switch","z":"cad8f072.3f332","name":"Wakeup music","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Spotify","vt":"str"},{"t":"eq","v":"Radio","vt":"str"},{"t":"eq","v":"Podcast","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1530,"y":400,"wires":[["6eb55594.9c8f6c"],["ee0ea774.893528"],["e5461758.d10938"]]},{"id":"ee0ea774.893528","type":"api-call-service","z":"cad8f072.3f332","name":"Play radio","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.play_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1720,"y":400,"wires":[[]]},{"id":"6eb55594.9c8f6c","type":"api-call-service","z":"cad8f072.3f332","name":"Play playlist","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.play_spotcast_playlist","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1720,"y":340,"wires":[[]]},{"id":"e5461758.d10938","type":"api-call-service","z":"cad8f072.3f332","name":"Play podcast","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.play_spotcast_podcast","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1730,"y":460,"wires":[[]]},{"id":"73b86947.f59d88","type":"looptimer","z":"cad8f072.3f332","duration":"6","units":"Second","maxloops":"10","maxtimeout":"1","maxtimeoutunits":"Minute","name":"","x":1330,"y":680,"wires":[["f018816c.f1da9"],[]]},{"id":"9eb18e72.1b66c","type":"trigger-state","z":"cad8f072.3f332","name":"Alarm snoozed","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.alarm_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nfjse936n9","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Activated"},{"id":"1hrf6ol6og2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Snoozed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":350,"y":680,"wires":[["ec60ae7a.5fb4c","a1ee2ee6.73671","e9a0626b.71ed3"],[]]},{"id":"3262d2f4.aabdfe","type":"trigger-state","z":"cad8f072.3f332","name":"Alarm snoozed inv","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.alarm_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"1hrf6ol6og2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Snoozed"},{"id":"52q08s7lque","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Activated"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":340,"y":880,"wires":[["4dc9ab7f.ed5e44"],[]]},{"id":"4dc9ab7f.ed5e44","type":"api-call-service","z":"cad8f072.3f332","name":"Reset alarm","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.alarm_state","data":"{\"option\": \"Not set\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":880,"wires":[[]]},{"id":"d66196a9.304e58","type":"trigger-state","z":"cad8f072.3f332","name":"Alarm dismissed from snooze","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.alarm_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"o3ecqbsd3gd","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Not set"},{"id":"oy0cb7m3r5","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Snoozed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":390,"y":980,"wires":[["cc141539.794538"],[]]},{"id":"aef0cd3c.0b78d","type":"trigger-state","z":"cad8f072.3f332","name":"Alarm dismissed from activation","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.alarm_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"o3ecqbsd3gd","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Not set"},{"id":"zg92saxv9fm","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Activated"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":380,"y":1040,"wires":[["cc141539.794538"],[]]},{"id":"1a17b36c.3fb45d","type":"delay","z":"cad8f072.3f332","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":875,"y":680,"wires":[["effa780a.004218"]],"l":false},{"id":"e9a0626b.71ed3","type":"api-current-state","z":"cad8f072.3f332","name":"Snooze time","server":"cd10b942.aa6d58","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.snooze_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":680,"wires":[["b554fdd4.bf56f"]]},{"id":"b554fdd4.bf56f","type":"change","z":"cad8f072.3f332","name":"min to ms","rules":[{"t":"set","p":"delay","pt":"msg","to":"$number(payload)*60000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":680,"wires":[["1a17b36c.3fb45d"]]},{"id":"cc141539.794538","type":"change","z":"cad8f072.3f332","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1000,"wires":[["1a17b36c.3fb45d","ec60ae7a.5fb4c","33d2b7f3.3b7698"]]},{"id":"581cefb4.d44c9","type":"inject","z":"cad8f072.3f332","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":540,"wires":[["f3b9dd8c.09ef1"]]},{"id":"cff548aa.a68fb8","type":"change","z":"cad8f072.3f332","name":"Set 0.25 volume","rules":[{"t":"set","p":"alarm_volume","pt":"flow","to":"0.25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":960,"wires":[["d44a5fa2.776a5"]]},{"id":"33d2b7f3.3b7698","type":"api-current-state","z":"cad8f072.3f332","name":"Play podcast after","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.switch_alarm_podcast","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1320,"y":1000,"wires":[["cff548aa.a68fb8","e5461758.d10938"],["e4f7d9a0.c6a8d8"]]},{"id":"e4f7d9a0.c6a8d8","type":"api-call-service","z":"cad8f072.3f332","name":"Pause","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_pause","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":1020,"wires":[[]]},{"id":"ec60ae7a.5fb4c","type":"change","z":"cad8f072.3f332","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":840,"wires":[["73b86947.f59d88"]]},{"id":"bd3b178e.7e6208","type":"change","z":"cad8f072.3f332","name":"Set 0.04 volume","rules":[{"t":"set","p":"alarm_volume","pt":"flow","to":"0.04","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":560,"wires":[["d44a5fa2.776a5"]]},{"id":"588d2d34.34f1e4","type":"api-call-service","z":"cad8f072.3f332","name":"Set volume","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1960,"y":560,"wires":[[]]},{"id":"d44a5fa2.776a5","type":"change","z":"cad8f072.3f332","name":"Volume data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{}}","tot":"json"},{"t":"set","p":"payload.data.volume_level","pt":"msg","to":"alarm_volume","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":560,"wires":[["588d2d34.34f1e4"]]},{"id":"22725f8b.c655b","type":"api-current-state","z":"cad8f072.3f332","name":"Alarm set","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"Set","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.alarm_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":280,"wires":[["efb73dc0.984de"],[]]},{"id":"efb73dc0.984de","type":"change","z":"cad8f072.3f332","name":"set light context","rules":[{"t":"set","p":"temperature","pt":"flow","to":"588","tot":"num"},{"t":"set","p":"brightness","pt":"flow","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":280,"wires":[["b2d6d057.76719"]]},{"id":"b2d6d057.76719","type":"looptimer","z":"cad8f072.3f332","duration":"30","units":"Second","maxloops":"20","maxtimeout":"10","maxtimeoutunits":"Minute","name":"","x":930,"y":280,"wires":[["e6b9ea7c.9fd908"],[]]},{"id":"e6b9ea7c.9fd908","type":"change","z":"cad8f072.3f332","name":"light data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{}}","tot":"json"},{"t":"set","p":"payload.data.color_temp","pt":"msg","to":"temperature","tot":"flow"},{"t":"set","p":"payload.data.brightness","pt":"msg","to":"brightness","tot":"flow"},{"t":"set","p":"payload.data.transition","pt":"msg","to":"30","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":280,"wires":[["833c175a.15ab28"]]},{"id":"833c175a.15ab28","type":"api-call-service","z":"cad8f072.3f332","name":"Wakeup lights","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wakeup_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":280,"wires":[["c8114a2.7e01fb8"]]},{"id":"5c8729c9.da4de8","type":"inject","z":"cad8f072.3f332","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":220,"wires":[["22725f8b.c655b"]]},{"id":"c8114a2.7e01fb8","type":"function","z":"cad8f072.3f332","name":"update light context","func":"var temp = flow.get(\"temperature\");\ntemp = temp - 20;\nflow.set(\"temperature\", temp);\nvar brightness = flow.get(\"brightness\");\nbrightness = brightness + 10;\nflow.set(\"brightness\", brightness);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":280,"wires":[[]]},{"id":"76dd791e.9b92d8","type":"trigger-state","z":"cad8f072.3f332","name":"Paused on touch","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"media_player.bedroom_speaker","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"uu40piayxcb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"paused"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":340,"y":800,"wires":[["7a6c5cef.b3a8f4"],[]]},{"id":"7a6c5cef.b3a8f4","type":"api-current-state","z":"cad8f072.3f332","name":"Alarm activated","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"Activated","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.alarm_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":800,"wires":[["991c3509.7ed478"],[]]},{"id":"991c3509.7ed478","type":"api-call-service","z":"cad8f072.3f332","name":"Set snoozed","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.alarm_state","data":"{\"option\": Snoozed\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":800,"wires":[[]]},{"id":"49c0ce5.9b8713","type":"server-state-changed","z":"9148f6af.55f788","name":"Tradfri","server":"cd10b942.aa6d58","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.tradfri_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":210,"y":880,"wires":[["f5e2758a.bb5398"]]},{"id":"66d3c6a2.cf1848","type":"switch","z":"9148f6af.55f788","name":"Tradfri buttons","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_up_hold","vt":"str"},{"t":"eq","v":"brightness_up_release","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"},{"t":"eq","v":"brightness_down_hold","vt":"str"},{"t":"eq","v":"brightness_down_release","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_hold","vt":"str"},{"t":"eq","v":"arrow_right_hold","vt":"str"},{"t":"eq","v":"arrow_left_release","vt":"str"},{"t":"eq","v":"arrow_right_release","vt":"str"},{"t":"eq","v":"toggle","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":740,"y":1260,"wires":[["7efab223.61a91c","73f0220c.fdff9c"],["f410197f.523b58","73f0220c.fdff9c"],["9391443b.a24c98"],["73f0220c.fdff9c","ba08a8c8.5b5b48"],["95624ce8.313e7","73f0220c.fdff9c"],["4274d9c5.e39768"],["efb5072e.359248"],["f3e9061c.6a0f48"],["1bdf177a.4f32b9"],["d4c38769.fa3da8"],[],[],["a2cd5ea6.9f956"]]},{"id":"a2cd5ea6.9f956","type":"api-call-service","z":"9148f6af.55f788","name":"toggle lights","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bedroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":1460,"wires":[[]]},{"id":"f410197f.523b58","type":"looptimer","z":"9148f6af.55f788","duration":"1","units":"Second","maxloops":"10","maxtimeout":"10","maxtimeoutunits":"Second","name":"","x":1395,"y":1040,"wires":[["7efab223.61a91c"],[]],"l":false},{"id":"c312bb40.8cfda8","type":"api-call-service","z":"9148f6af.55f788","name":"","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1970,"y":960,"wires":[[]]},{"id":"49a0060.b7b3afc","type":"server-state-changed","z":"cad8f072.3f332","name":"Alarm light","server":"cd10b942.aa6d58","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.alarm_m10_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":320,"y":280,"wires":[["22725f8b.c655b"]]},{"id":"9391443b.a24c98","type":"change","z":"9148f6af.55f788","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":1100,"wires":[["f410197f.523b58"]]},{"id":"95624ce8.313e7","type":"looptimer","z":"9148f6af.55f788","duration":"1","units":"Second","maxloops":"10","maxtimeout":"10","maxtimeoutunits":"Second","name":"","x":1405,"y":1220,"wires":[["ba08a8c8.5b5b48"],[]],"l":false},{"id":"f57b8cc0.fee35","type":"api-call-service","z":"9148f6af.55f788","name":"","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1980,"y":1160,"wires":[[]]},{"id":"4274d9c5.e39768","type":"change","z":"9148f6af.55f788","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1280,"wires":[["95624ce8.313e7"]]},{"id":"f3e9061c.6a0f48","type":"api-call-service","z":"9148f6af.55f788","name":"next scene","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_next","entityId":"input_select.button_cycler","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":1400,"wires":[["b2034894.4a2f18"]]},{"id":"efb5072e.359248","type":"api-call-service","z":"9148f6af.55f788","name":"prev scene","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_previous","entityId":"input_select.button_cycler","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":1340,"wires":[["b2034894.4a2f18"]]},{"id":"b2034894.4a2f18","type":"api-current-state","z":"9148f6af.55f788","name":"current scene","server":"cd10b942.aa6d58","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.button_cycler","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1300,"y":1380,"wires":[["74a9516f.83551"]]},{"id":"74a9516f.83551","type":"template","z":"9148f6af.55f788","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"script.{{payload}}_light","output":"str","x":1470,"y":1380,"wires":[["972335a.680e6c8"]]},{"id":"972335a.680e6c8","type":"function","z":"9148f6af.55f788","name":"","func":"msg.payload = {\"data\": {\"entity_id\": msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1380,"wires":[["20c7e928.e820e6"]]},{"id":"20c7e928.e820e6","type":"api-call-service","z":"9148f6af.55f788","name":"","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1790,"y":1380,"wires":[[]]},{"id":"857797fa.b5dd28","type":"server-state-changed","z":"9148f6af.55f788","name":"Mijia","server":"cd10b942.aa6d58","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mijiabutton_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":1560,"wires":[["6f4dbdcb.d16914"]]},{"id":"6f4dbdcb.d16914","type":"switch","z":"9148f6af.55f788","name":"Mijia buttons","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"long_release","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":1560,"wires":[["4b9f9500.61f12c"],["efb5072e.359248"],["f3e9061c.6a0f48"],["e8a110a7.6397"],[]]},{"id":"4b5691f9.8fb84","type":"ha-get-entities","z":"9148f6af.55f788","server":"cd10b942.aa6d58","name":"","rules":[{"property":"entity_id","logic":"includes","value":"light.door,light.desk,light.bed,light.couch,light.cabinet,light.strip","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1690,"y":880,"wires":[["4182a399.93d65c"]]},{"id":"4182a399.93d65c","type":"function","z":"9148f6af.55f788","name":"","func":"var i;\nvar entities = [];\nfor (i = 0; i < msg.payload.length; i++) {\n  entities.push(msg.payload[i].entity_id);\n}\nflow.set(\"light_entities\", entities);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1850,"y":880,"wires":[[]]},{"id":"4230167f.07d768","type":"split","z":"9148f6af.55f788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1650,"y":960,"wires":[["c2b8d00e.a07b9"]]},{"id":"7efab223.61a91c","type":"change","z":"9148f6af.55f788","name":"Get lights","rules":[{"t":"set","p":"payload","pt":"msg","to":"light_entities","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":960,"wires":[["4230167f.07d768"]]},{"id":"c2b8d00e.a07b9","type":"change","z":"9148f6af.55f788","name":"+10","rules":[{"t":"set","p":"entity","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"data\": {}}","tot":"json"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"entity","tot":"msg"},{"t":"set","p":"payload.data.brightness_step_pct","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":960,"wires":[["c312bb40.8cfda8"]]},{"id":"73f0220c.fdff9c","type":"delay","z":"9148f6af.55f788","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":880,"wires":[["4b5691f9.8fb84"]]},{"id":"3036ea86.d143f6","type":"split","z":"9148f6af.55f788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1660,"y":1160,"wires":[["d58c10f.c0341f"]]},{"id":"ba08a8c8.5b5b48","type":"change","z":"9148f6af.55f788","name":"Get lights","rules":[{"t":"set","p":"payload","pt":"msg","to":"light_entities","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1160,"wires":[["3036ea86.d143f6"]]},{"id":"d58c10f.c0341f","type":"change","z":"9148f6af.55f788","name":"-10","rules":[{"t":"set","p":"entity","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"data\": {}}","tot":"json"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"entity","tot":"msg"},{"t":"set","p":"payload.data.brightness_step_pct","pt":"msg","to":"-10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":1160,"wires":[["f57b8cc0.fee35"]]},{"id":"effa780a.004218","type":"api-call-service","z":"cad8f072.3f332","name":"play","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":680,"wires":[["7ea4f539.e624bc"]]},{"id":"5680bada.d9acf4","type":"api-call-service","z":"9148f6af.55f788","name":"Dismiss","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.alarm_state","data":"{\"option\": \"Not set\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":1580,"wires":[[]]},{"id":"93f8e88d.d9dfd8","type":"api-call-service","z":"9148f6af.55f788","name":"Snoozed","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.alarm_state","data":"{\"option\": \"Snoozed\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":1540,"wires":[[]]},{"id":"e8a110a7.6397","type":"api-current-state","z":"9148f6af.55f788","name":"Alarm activated or snoozed","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"Activated,Snoozed","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.alarm_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":880,"y":1580,"wires":[["5680bada.d9acf4"],[]]},{"id":"947e5a00.025d68","type":"switch","z":"9148f6af.55f788","name":"","property":"mode","propertyType":"msg","rules":[{"t":"eq","v":"media","vt":"str"},{"t":"eq","v":"light","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":880,"wires":[["7a071a93.8e7fe4"],["66d3c6a2.cf1848"]]},{"id":"f5e2758a.bb5398","type":"api-current-state","z":"9148f6af.55f788","name":"Button mode","server":"cd10b942.aa6d58","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.button_mode","state_type":"str","state_location":"mode","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":880,"wires":[["947e5a00.025d68"]]},{"id":"7a071a93.8e7fe4","type":"switch","z":"9148f6af.55f788","name":"Tradfri buttons","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_up_hold","vt":"str"},{"t":"eq","v":"brightness_up_release","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"},{"t":"eq","v":"brightness_down_hold","vt":"str"},{"t":"eq","v":"brightness_down_release","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_hold","vt":"str"},{"t":"eq","v":"arrow_right_hold","vt":"str"},{"t":"eq","v":"arrow_left_release","vt":"str"},{"t":"eq","v":"arrow_right_release","vt":"str"},{"t":"eq","v":"toggle","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":740,"y":600,"wires":[["7f14a99c.7a1a28"],["9389bba.73fc748"],["bbd0fc18.3c0df"],["9dd4c1c.ff27e4"],["21cf9961.f781d6"],["26165401.f2ed9c"],["6ae3136.cb6e8ec"],["280087ba.87a748"],["1bdf177a.4f32b9"],["d4c38769.fa3da8"],[],[],["47cb5275.ade62c"]]},{"id":"47cb5275.ade62c","type":"api-call-service","z":"9148f6af.55f788","name":"playpause","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play_pause","entityId":"media_player.spotify_mark_shui_hu","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":400,"wires":[[]]},{"id":"9389bba.73fc748","type":"looptimer","z":"9148f6af.55f788","duration":"1","units":"Second","maxloops":"10","maxtimeout":"10","maxtimeoutunits":"Second","name":"","x":1215,"y":480,"wires":[["7f14a99c.7a1a28"],[]],"l":false},{"id":"bbd0fc18.3c0df","type":"change","z":"9148f6af.55f788","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":520,"wires":[["9389bba.73fc748"]]},{"id":"7f14a99c.7a1a28","type":"api-call-service","z":"9148f6af.55f788","name":"volume up","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_up","entityId":"media_player.spotify_mark_shui_hu","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":440,"wires":[[]]},{"id":"21cf9961.f781d6","type":"looptimer","z":"9148f6af.55f788","duration":"1","units":"Second","maxloops":"10","maxtimeout":"10","maxtimeoutunits":"Second","name":"","x":1215,"y":580,"wires":[["9dd4c1c.ff27e4"],[]],"l":false},{"id":"26165401.f2ed9c","type":"change","z":"9148f6af.55f788","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":620,"wires":[["21cf9961.f781d6"]]},{"id":"9dd4c1c.ff27e4","type":"api-call-service","z":"9148f6af.55f788","name":"volume down","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_down","entityId":"media_player.spotify_mark_shui_hu","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":540,"wires":[[]]},{"id":"280087ba.87a748","type":"api-call-service","z":"9148f6af.55f788","name":"next track","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_next_track","entityId":"media_player.spotify_mark_shui_hu","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":720,"wires":[[]]},{"id":"6ae3136.cb6e8ec","type":"api-call-service","z":"9148f6af.55f788","name":"previous track","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_previous_track","entityId":"media_player.spotify_mark_shui_hu","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":680,"wires":[[]]},{"id":"d4c38769.fa3da8","type":"api-call-service","z":"9148f6af.55f788","name":"media mode","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.button_mode","data":"{\"option\": \"media\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":900,"wires":[[]]},{"id":"1bdf177a.4f32b9","type":"api-call-service","z":"9148f6af.55f788","name":"light mode","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.button_mode","data":"{\"option\": \"light\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":860,"wires":[[]]},{"id":"4b9f9500.61f12c","type":"api-current-state","z":"9148f6af.55f788","name":"No alarm","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"Activated","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.alarm_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":820,"y":1540,"wires":[["a2cd5ea6.9f956"],["93f8e88d.d9dfd8"]]},{"id":"a1ee2ee6.73671","type":"api-call-service","z":"cad8f072.3f332","name":"pause","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_pause","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":560,"wires":[["bd3b178e.7e6208"]]},{"id":"7ea4f539.e624bc","type":"api-call-service","z":"cad8f072.3f332","name":"Activate alarm","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.alarm_state","data":"{\"option\":\"Activated\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":520,"wires":[["73b86947.f59d88"]]},{"id":"3bd72559.31562a","type":"ha-entity","z":"e614faca.3700f8","name":"","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"nodered_entity_switch"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":386,"y":236,"wires":[["e7badd67.50ff7"],["5dfb16cd.963d98"]]},{"id":"e7badd67.50ff7","type":"debug","z":"e614faca.3700f8","name":"on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":542,"y":220,"wires":[]},{"id":"dc3bca00.d07c98","type":"inject","z":"e614faca.3700f8","name":"Input to Switch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":236,"wires":[["3bd72559.31562a"]]},{"id":"5dfb16cd.963d98","type":"debug","z":"e614faca.3700f8","name":"off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":542,"y":252,"wires":[]},{"id":"604afc44.e34ac4","type":"credentials","z":"e614faca.3700f8","name":"","props":[{"value":"token","type":"msg"}],"x":370,"y":400,"wires":[[]]},{"id":"d5c252cc.1981b","type":"inject","z":"e614faca.3700f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":400,"wires":[["3fc8ccd1.015514"]]},{"id":"3fc8ccd1.015514","type":"debug","z":"e614faca.3700f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"token","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":400,"wires":[]},{"id":"305ecce4.114bd4","type":"api-current-state","z":"e614faca.3700f8","name":"Podcast select","server":"cd10b942.aa6d58","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.morning_podcast","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":660,"wires":[["123f7bda.9c3104"]]},{"id":"123f7bda.9c3104","type":"switch","z":"e614faca.3700f8","name":"podcasts","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"NRC vandaag","vt":"str"},{"t":"eq","v":"NOS met het oog op morgen","vt":"str"},{"t":"eq","v":"VOX today explained","vt":"str"},{"t":"eq","v":"TIMES the daily","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":380,"y":660,"wires":[["db0e869.5384b78"],["68cdcdc5.92c894"],["3a0e8dc8.c566c2"],["1110e0b1.34267f"]]},{"id":"db0e869.5384b78","type":"change","z":"e614faca.3700f8","name":"NRC vandaag","rules":[{"t":"set","p":"payload","pt":"msg","to":"73vZPMVjxTqC02OYZdcCr7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["2ca9503e.dfb61"]]},{"id":"889f7a67.80c368","type":"http request","z":"e614faca.3700f8","name":"Get episode","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.spotify.com/v1/shows/{{payload}}/episodes?market=NL&limit=1&offset=0","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":860,"wires":[["8e47ed5e.b4615","cb4de911.21d608"]]},{"id":"2ca9503e.dfb61","type":"change","z":"e614faca.3700f8","name":"Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Accept\":\"application/json\",\"Content-Type\":\"application/json\",\"Authorization\":\"Bearer BQATSHHWgzGkxlRmtivfAEZ-UHp0W7ClLWEs-M7OmIoj-hIzABNtSrw9F_rB8dmvRZ_wcmpkWmprzJsGOdKgJnImwJNFtgEw0_Kq6whUdzZTQRcxpYIGytsSRaV2498gYhTYDPZTvxEio_e8KauCACEvveuiWZzUyT-Mhw4PDRjM1ZzZqXTCl4sJIDtZDLpS3qnrfG7SksHpbl_hinyhGTEKoM1cNECcIKzXt6nig7jECyZaXa3I9xup7j706H08BpN7F8AH5KaiP0Hldw\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":640,"wires":[["889f7a67.80c368"]]},{"id":"99bd88ed.1a2f58","type":"inject","z":"e614faca.3700f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":520,"wires":[["305ecce4.114bd4"]]},{"id":"8e47ed5e.b4615","type":"function","z":"e614faca.3700f8","name":"","func":"msg.data = {\"uri\": msg.payload.items[0].uri}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":860,"wires":[["85700787.66f4a8"]]},{"id":"85700787.66f4a8","type":"debug","z":"e614faca.3700f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":860,"wires":[]},{"id":"68cdcdc5.92c894","type":"change","z":"e614faca.3700f8","name":"NOS het oog","rules":[{"t":"set","p":"payload","pt":"msg","to":"56DJTFqt8Vg1qfLJ1ibH7j","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":640,"wires":[["2ca9503e.dfb61"]]},{"id":"3a0e8dc8.c566c2","type":"change","z":"e614faca.3700f8","name":"VOX today","rules":[{"t":"set","p":"payload","pt":"msg","to":"3pXx5SXzXwJxnf4A5pWN2A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":680,"wires":[["2ca9503e.dfb61"]]},{"id":"1110e0b1.34267f","type":"change","z":"e614faca.3700f8","name":"TIMES the daily","rules":[{"t":"set","p":"payload","pt":"msg","to":"3IM0lmZxpFAY7CwMuv9H4g","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":720,"wires":[["2ca9503e.dfb61"]]},{"id":"cb4de911.21d608","type":"debug","z":"e614faca.3700f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":900,"wires":[]},{"id":"8876570e.361fb8","type":"trigger-state","z":"c13ac1ee.fc1dd","name":"prev unavailable","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.oneplus_a6003_next_alarm","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"jlk95sp85xm","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unavailable"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":440,"wires":[["f3d10bb.225c3f8","506ec337.a5685c"],["deb8b796.dc7048"]]},{"id":"deb8b796.dc7048","type":"api-current-state","z":"c13ac1ee.fc1dd","name":"now unavailable","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.oneplus_a6003_next_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":540,"wires":[["59c5645a.c64c9c"],["506ec337.a5685c","13876cac.769c63"]]},{"id":"5f88c22f.36686c","type":"api-current-state","z":"c13ac1ee.fc1dd","name":"Mark Home","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.mark","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":920,"y":380,"wires":[["d1c5a4d.3585c58","fbfb103c.1d57b","5ff495a.a94936c","cbb8765.5cfcd88"],[]]},{"id":"f3d10bb.225c3f8","type":"change","z":"c13ac1ee.fc1dd","name":"Set","rules":[{"t":"set","p":"alarm_state","pt":"msg","to":"Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":380,"wires":[["5f88c22f.36686c"]]},{"id":"fbfb103c.1d57b","type":"api-call-service","z":"c13ac1ee.fc1dd","name":"Set alarm state","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.alarm_state","data":"{\"option\": \"{{msg.alarm_state}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":460,"wires":[[]]},{"id":"d1c5a4d.3585c58","type":"api-call-service","z":"c13ac1ee.fc1dd","name":"Phone alarm","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.switch_phone_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":340,"wires":[[]]},{"id":"5ff495a.a94936c","type":"api-call-service","z":"c13ac1ee.fc1dd","name":"Set alarm time","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.alarm_time","data":"{\"time\":\"{{ flow.alarm_time }}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":400,"wires":[[]]},{"id":"506ec337.a5685c","type":"api-render-template","z":"c13ac1ee.fc1dd","name":"Get alarm time","server":"cd10b942.aa6d58","template":"{{ strptime(state_attr('sensor.oneplus_a6003_next_alarm', 'Local Time'), '%a\n    %b %d %H:%M:%S %Z%z %Y').strftime('%H:%M:%S') }}","resultsLocation":"alarm_time","resultsLocationType":"flow","templateLocation":"template","templateLocationType":"msg","x":450,"y":360,"wires":[[]]},{"id":"13876cac.769c63","type":"api-render-template","z":"c13ac1ee.fc1dd","name":"Get alarm time","server":"cd10b942.aa6d58","template":"{{ strptime(state_attr('sensor.oneplus_a6003_next_alarm', 'Local Time'), '%a\n    %b %d %H:%M:%S %Z%z %Y').timestamp() }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":450,"y":460,"wires":[["db64c3cf.eb36e"]]},{"id":"f018816c.f1da9","type":"function","z":"cad8f072.3f332","name":"Increase volume","func":"var alarm_volume = flow.get(\"alarm_volume\");\nalarm_volume = alarm_volume + 0.02;\nflow.set(\"alarm_volume\", alarm_volume);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":680,"wires":[["d44a5fa2.776a5"]]},{"id":"db64c3cf.eb36e","type":"api-current-state","z":"c13ac1ee.fc1dd","name":"Snooze time","server":"cd10b942.aa6d58","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.snooze_time","state_type":"str","state_location":"snooze_time","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":620,"y":460,"wires":[["99ed5ee5.34119"]]},{"id":"99ed5ee5.34119","type":"function","z":"c13ac1ee.fc1dd","name":"","func":"var now = Date.now();\nvar alarm = msg.payload * 1000;\nvar snooze = msg.snooze_time * 60000;\n\nif (Math.abs(now - alarm) < snooze) {\n    msg.alarm_state = \"Snoozed\";\n} else {\n    msg.alarm_state = \"Set\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":460,"wires":[["5f88c22f.36686c"]]},{"id":"cbb8765.5cfcd88","type":"switch","z":"c13ac1ee.fc1dd","name":"","property":"alarm_state","propertyType":"msg","rules":[{"t":"eq","v":"Snoozed","vt":"str"},{"t":"eq","v":"Set","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":560,"wires":[["730c35db.bbb29c"],["d1837f5d.cdbd5"]]},{"id":"730c35db.bbb29c","type":"api-call-service","z":"c13ac1ee.fc1dd","name":"","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram","entityId":"","data":"{\"message\":\"Alarm snoozed\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":540,"wires":[[]]},{"id":"d1837f5d.cdbd5","type":"api-call-service","z":"c13ac1ee.fc1dd","name":"","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram","entityId":"","data":"{\"title\":\"Alarm set\",\"message\":\"Your alarm is set at {{flow.alarm_time}}!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":600,"wires":[[]]},{"id":"59c5645a.c64c9c","type":"api-current-state","z":"c13ac1ee.fc1dd","name":"Alarm set from phone","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.switch_phone_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":580,"wires":[["11ee62fd.4d2bfd","459c7c29.e57b74"],[]]},{"id":"11ee62fd.4d2bfd","type":"api-call-service","z":"c13ac1ee.fc1dd","name":"Phone alarm","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.switch_phone_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":560,"wires":[[]]},{"id":"459c7c29.e57b74","type":"api-call-service","z":"c13ac1ee.fc1dd","name":"Stop alarm","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cancel_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":600,"wires":[[]]},{"id":"df8d26c0.c51ca8","type":"server-events","z":"9d14ff7.d50fa","name":"","server":"cd10b942.aa6d58","event_type":"tag_scanned","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":120,"y":180,"wires":[["63f32519.5a29cc"]]},{"id":"63f32519.5a29cc","type":"change","z":"9d14ff7.d50fa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.tag_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[["a3999c40.2be9e"]]},{"id":"a3999c40.2be9e","type":"switch","z":"9d14ff7.d50fa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3d92c0bd-6342-420a-8641-461e2d4fbff0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":320,"wires":[["1d80abbc.b76454","2b66fb2d.56da04"]]},{"id":"1d80abbc.b76454","type":"api-call-service","z":"9d14ff7.d50fa","name":"Toggle NFC","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"toggle","entityId":"input_boolean.switch_nfc_state","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":380,"wires":[["1b36ad4b.4454d3"]]},{"id":"1b36ad4b.4454d3","type":"api-current-state","z":"9d14ff7.d50fa","name":"Get NFC state","server":"cd10b942.aa6d58","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.switch_nfc_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":380,"wires":[["f82d64b7.010b38"]]},{"id":"2eec0c51.8527e4","type":"api-call-service","z":"9d14ff7.d50fa","name":"Lights off","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bedroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":360,"wires":[[]]},{"id":"93cb894c.8e99d8","type":"api-call-service","z":"9d14ff7.d50fa","name":"Lights on","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":320,"wires":[[]]},{"id":"2b66fb2d.56da04","type":"api-current-state","z":"9d14ff7.d50fa","name":"Spotify","server":"cd10b942.aa6d58","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.spotify_mark_shui_hu","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":320,"wires":[["9250ec56.6933e"]]},{"id":"9250ec56.6933e","type":"change","z":"9d14ff7.d50fa","name":"","rules":[{"t":"set","p":"spotify_playing","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":320,"wires":[[]]},{"id":"31014511.3d1c5a","type":"api-call-service","z":"9d14ff7.d50fa","name":"Transfer spotify","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"spotcast","service":"start","entityId":"","data":"{\"device_name\": payload.device_name}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":480,"wires":[[]]},{"id":"f82d64b7.010b38","type":"function","z":"9d14ff7.d50fa","name":"","func":"var state = msg.payload;\nif (state == \"on\"){\n    msg.payload = {\n        \"light\": \"off\", \n        \"message\": \"Good bye!\",\n        \"device_name\": \"OnePlus 6\"\n    };\n}\nelse {\n    msg.payload = {\n        \"light\": \"on\", \n        \"message\": \"Welcome Home!\",\n        \"device_name\": \"HomeAssistant\"\n    };\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":380,"wires":[["9278b8b7.1782b8","568cdc7a.5bde04","2383bdcf.cbf312"]]},{"id":"9278b8b7.1782b8","type":"api-call-service","z":"9d14ff7.d50fa","name":"Notify away","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram","entityId":"","data":"{\"message\": payload.message}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":420,"wires":[[]]},{"id":"568cdc7a.5bde04","type":"switch","z":"9d14ff7.d50fa","name":"","property":"payload.light","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":340,"wires":[["93cb894c.8e99d8"],["2eec0c51.8527e4"]]},{"id":"2383bdcf.cbf312","type":"switch","z":"9d14ff7.d50fa","name":"","property":"spotify_playing","propertyType":"flow","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":480,"wires":[["31014511.3d1c5a"]]},{"id":"56abd491.bb1efc","type":"comment","z":"c13ac1ee.fc1dd","name":"Alarm set from phone","info":"","x":130,"y":380,"wires":[]}]