node-red/flows.json
[{"id":"cad8f072.3f332","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"cd10b942.aa6d58","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"37c5ac0.abecf54","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"55ee14bd.80f22c","type":"server-state-changed","z":"cad8f072.3f332","name":"Alarm -10m","server":"cd10b942.aa6d58","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.alarm_m10_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":320,"y":280,"wires":[["611f2bca.7a7584"]]},{"id":"111b9c46.5be254","type":"server-state-changed","z":"cad8f072.3f332","name":"Alarm","server":"cd10b942.aa6d58","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.alarm_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":310,"y":420,"wires":[["8b22d38c.7571d"]]},{"id":"611f2bca.7a7584","type":"delay","z":"cad8f072.3f332","name":"Limit 1/m","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":415,"y":280,"wires":[["22725f8b.c655b"]],"l":false},{"id":"8b22d38c.7571d","type":"delay","z":"cad8f072.3f332","name":"Limit 1/m","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":415,"y":420,"wires":[["f3b9dd8c.09ef1"]],"l":false},{"id":"f3b9dd8c.09ef1","type":"api-current-state","z":"cad8f072.3f332","name":"Alarm set","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"Set","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.alarm_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":420,"wires":[["92a96524.54cdd8","bd3b178e.7e6208"],[]]},{"id":"92a96524.54cdd8","type":"api-call-service","z":"cad8f072.3f332","name":"Activate alarm","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.alarm_state","data":"{\"option\":\"Activated\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":420,"wires":[["73b86947.f59d88","5a5c4cbf.64e5d4"]]},{"id":"5a5c4cbf.64e5d4","type":"api-current-state","z":"cad8f072.3f332","name":"Alarm music","server":"cd10b942.aa6d58","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.wakeup_music","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1110,"y":420,"wires":[["83498812.99d548"]]},{"id":"83498812.99d548","type":"switch","z":"cad8f072.3f332","name":"Wakeup music","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Spotify","vt":"str"},{"t":"eq","v":"Radio","vt":"str"},{"t":"eq","v":"Podcast","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1270,"y":420,"wires":[["6eb55594.9c8f6c"],["ee0ea774.893528"],["e5461758.d10938"]]},{"id":"ee0ea774.893528","type":"api-call-service","z":"cad8f072.3f332","name":"Play radio","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.play_radio","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1460,"y":420,"wires":[[]]},{"id":"6eb55594.9c8f6c","type":"api-call-service","z":"cad8f072.3f332","name":"Play playlist","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.play_spotcast_playlist","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1480,"y":360,"wires":[[]]},{"id":"e5461758.d10938","type":"api-call-service","z":"cad8f072.3f332","name":"Play podcast","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.play_spotcast_podcast","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":480,"wires":[[]]},{"id":"73b86947.f59d88","type":"looptimer","z":"cad8f072.3f332","duration":"6","units":"Second","maxloops":"10","maxtimeout":"1","maxtimeoutunits":"Minute","name":"","x":1330,"y":680,"wires":[["f018816c.f1da9"],[]]},{"id":"f018816c.f1da9","type":"function","z":"cad8f072.3f332","name":"Increase volume","func":"var alarm_volume = flow.get(\"alarm_volume\");\nalarm_volume = alarm_volume + 0.02;\nflow.set(\"alarm_volume\", alarm_volume);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":680,"wires":[["d44a5fa2.776a5"]]},{"id":"9eb18e72.1b66c","type":"trigger-state","z":"cad8f072.3f332","name":"Alarm snoozed","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.alarm_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nfjse936n9","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Activated"},{"id":"1hrf6ol6og2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Snoozed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":350,"y":680,"wires":[["bd3b178e.7e6208","c6912211.1bb3","ec60ae7a.5fb4c"],[]]},{"id":"3262d2f4.aabdfe","type":"trigger-state","z":"cad8f072.3f332","name":"Alarm snoozed inv","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.alarm_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"1hrf6ol6og2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Snoozed"},{"id":"52q08s7lque","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Activated"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":360,"y":980,"wires":[["4dc9ab7f.ed5e44"],[]]},{"id":"4dc9ab7f.ed5e44","type":"api-call-service","z":"cad8f072.3f332","name":"Reset alarm","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.alarm_state","data":"{\"option\": \"Not set\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":980,"wires":[[]]},{"id":"d66196a9.304e58","type":"trigger-state","z":"cad8f072.3f332","name":"Alarm dismissed from snooze","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.alarm_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"o3ecqbsd3gd","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Not set"},{"id":"oy0cb7m3r5","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Snoozed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":410,"y":1100,"wires":[["cc141539.794538"],[]]},{"id":"aef0cd3c.0b78d","type":"trigger-state","z":"cad8f072.3f332","name":"Alarm dismissed from activation","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.alarm_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"o3ecqbsd3gd","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Not set"},{"id":"zg92saxv9fm","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Activated"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":400,"y":1160,"wires":[["cc141539.794538"],[]]},{"id":"1a17b36c.3fb45d","type":"delay","z":"cad8f072.3f332","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1035,"y":680,"wires":[["73b86947.f59d88"]],"l":false},{"id":"e9a0626b.71ed3","type":"api-current-state","z":"cad8f072.3f332","name":"Snooze time","server":"cd10b942.aa6d58","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.snooze_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":680,"wires":[["b554fdd4.bf56f"]]},{"id":"b554fdd4.bf56f","type":"change","z":"cad8f072.3f332","name":"min to ms","rules":[{"t":"set","p":"delay","pt":"msg","to":"$number(payload)*60000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":680,"wires":[["1a17b36c.3fb45d"]]},{"id":"cc141539.794538","type":"change","z":"cad8f072.3f332","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1120,"wires":[["1a17b36c.3fb45d","ec60ae7a.5fb4c","33d2b7f3.3b7698"]]},{"id":"581cefb4.d44c9","type":"inject","z":"cad8f072.3f332","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":540,"wires":[["f3b9dd8c.09ef1"]]},{"id":"cff548aa.a68fb8","type":"change","z":"cad8f072.3f332","name":"Set 0.25 volume","rules":[{"t":"set","p":"alarm_volume","pt":"flow","to":"0.25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1080,"wires":[["e5461758.d10938"]]},{"id":"33d2b7f3.3b7698","type":"api-current-state","z":"cad8f072.3f332","name":"Play podcast after","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.switch_alarm_podcast","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1020,"y":1120,"wires":[["cff548aa.a68fb8"],["e4f7d9a0.c6a8d8"]]},{"id":"e4f7d9a0.c6a8d8","type":"api-call-service","z":"cad8f072.3f332","name":"Pause","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_pause","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":1140,"wires":[[]]},{"id":"ec60ae7a.5fb4c","type":"change","z":"cad8f072.3f332","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":880,"wires":[["73b86947.f59d88"]]},{"id":"bd3b178e.7e6208","type":"change","z":"cad8f072.3f332","name":"Set 0.04 volume","rules":[{"t":"set","p":"alarm_volume","pt":"flow","to":"0.04","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":560,"wires":[["d44a5fa2.776a5"]]},{"id":"588d2d34.34f1e4","type":"api-call-service","z":"cad8f072.3f332","name":"Set volume","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1440,"y":560,"wires":[[]]},{"id":"d44a5fa2.776a5","type":"change","z":"cad8f072.3f332","name":"Volume data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{}}","tot":"json"},{"t":"set","p":"payload.data.volume_level","pt":"msg","to":"alarm_volume","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":560,"wires":[["588d2d34.34f1e4"]]},{"id":"22725f8b.c655b","type":"api-current-state","z":"cad8f072.3f332","name":"Alarm set","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"Set","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.alarm_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":280,"wires":[["efb73dc0.984de"],[]]},{"id":"efb73dc0.984de","type":"change","z":"cad8f072.3f332","name":"set light context","rules":[{"t":"set","p":"temperature","pt":"flow","to":"588","tot":"num"},{"t":"set","p":"brightness","pt":"flow","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":280,"wires":[["b2d6d057.76719"]]},{"id":"b2d6d057.76719","type":"looptimer","z":"cad8f072.3f332","duration":"30","units":"Second","maxloops":"20","maxtimeout":"10","maxtimeoutunits":"Minute","name":"","x":930,"y":280,"wires":[["e6b9ea7c.9fd908"],["8b22d38c.7571d"]]},{"id":"e6b9ea7c.9fd908","type":"change","z":"cad8f072.3f332","name":"light data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{}}","tot":"json"},{"t":"set","p":"payload.data.color_temp","pt":"msg","to":"temperature","tot":"flow"},{"t":"set","p":"payload.data.brightness","pt":"msg","to":"brightness","tot":"flow"},{"t":"set","p":"payload.data.transition","pt":"msg","to":"30","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":280,"wires":[["833c175a.15ab28"]]},{"id":"833c175a.15ab28","type":"api-call-service","z":"cad8f072.3f332","name":"Wakeup lights","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wakeup_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":280,"wires":[["c8114a2.7e01fb8"]]},{"id":"5c8729c9.da4de8","type":"inject","z":"cad8f072.3f332","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":220,"wires":[["22725f8b.c655b"]]},{"id":"c8114a2.7e01fb8","type":"function","z":"cad8f072.3f332","name":"update light context","func":"var temp = flow.get(\"temperature\");\ntemp = temp - 20;\nflow.set(\"temperature\", temp);\nvar brightness = flow.get(\"brightness\");\nbrightness = brightness + 10;\nflow.set(\"brightness\", brightness);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":280,"wires":[[]]},{"id":"c6912211.1bb3","type":"api-call-service","z":"cad8f072.3f332","name":"pause","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_pause","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":680,"wires":[["e9a0626b.71ed3"]]},{"id":"effa780a.004218","type":"api-call-service","z":"cad8f072.3f332","name":"play","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":680,"wires":[[]]},{"id":"76dd791e.9b92d8","type":"trigger-state","z":"cad8f072.3f332","name":"Paused on touch","server":"cd10b942.aa6d58","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"media_player.bedroom_speaker","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"uu40piayxcb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"paused"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":360,"y":880,"wires":[["7a6c5cef.b3a8f4"],[]]},{"id":"7a6c5cef.b3a8f4","type":"api-current-state","z":"cad8f072.3f332","name":"Alarm activated","server":"cd10b942.aa6d58","version":1,"outputs":2,"halt_if":"Activated","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.alarm_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":880,"wires":[["991c3509.7ed478"],[]]},{"id":"991c3509.7ed478","type":"api-call-service","z":"cad8f072.3f332","name":"Set snoozed","server":"cd10b942.aa6d58","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.alarm_state","data":"{\"option\": Snoozed\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":880,"wires":[[]]}]